<div class="container">
	<div class="col-md-5">
		<div class="jumbotron">
			<h2>Editing Tag</h2>
			<%= render 'form' %>
			<br>
			<%= link_to "Back", :back, class: "btn btn btn-default" %>
		</div>
	</div>
	<div class="col-md-7">
	</div>
</div> <!-- /container -->
