<div class="container">
	<div class="col-md-7">
		<div class="jumbotron">
			<h2>New Book</h2>

			<%= render 'form' %>
			<br>
			<%= link_to 'Back', home_path, class: "btn btn btn-default" %>
		</div>
	</div>
	<div class="col-md-5">
	</div>
</div> <!-- /container -->
