// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#book-read {
    background-color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.45;
    font-size: 15px;
    white-space: pre;
    padding-left: 20%;
}