<div class="jumbotron">
  <div class="container">
    <h1>BookStream</h1>
    <p class="lead" id="notice"><%= notice %>
      </p>
    <p>You must <%= link_to('Log In', new_user_session_path)  %> or <%= link_to "Sign Up", new_registration_path(:user) %> first.</p>
  </div>
</div> 