    <div class="jumbotron">
      <div class="container">
        <h1>BookStream</h1>
        <p>Forget about carrying extra weight, let us save your stories.</p>
        <a href="https://github.com/IIC2143-2016-1/bookstream">Learn More</a>
      </div>
    </div> 

    <div class="row">
        <img class = "col-md-12" height="400" src="https://upload.wikimedia.org/wikipedia/commons/7/76/Urval_av_de_bocker_som_har_vunnit_Nordiska_radets_litteraturpris_under_de_50_ar_som_priset_funnits_%282%29.jpg" >
    </div>
