<div class="jumbotron">
  <div class="container">
    <h1>BookStream</h1>
    <div id="error_explanation">
    	<p class="lead" id="notice"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= notice %>
      </p>
      </div>
  </div>
</div> 